.App {
  padding: 1rem 10%;
  @media (max-width: 800px) {
    padding: 1rem;
  }
}

.users-ui {
  display: grid;
  grid-template-columns: 50% 50%;

  .column {
    padding: 1rem;
  }
}

.favorite-users {
  h2 {
    user-select: none;
  }
}

.users-group {
  .group-header {
    user-select: none;

    &.disabled {
      background-color: lightgray;
    }

    &.collapsed {
      &::after {
        content: ' (...)';
      }
    }
  }
}

.favorite-user {
  width: 100%;

  button {
    margin-left: auto;
    pointer-events: all;
  }
}

.selectable {
  cursor: pointer;
}

.user-card {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
  pointer-events: none;

  .photo {
    border-radius: 0.3rem;
    pointer-events: none;
  }

  .credentials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0.5rem;

    .name {
      b {
        color: tomato;
      }
    }

    .registration-date {
      &::before {
        content: ', ';
      }
    }

    .credentials-top {
      display: flex;
      flex-direction: row;
    }
  }
}

.hideme {
  display: none;
}

.selected > div {
  background-color: lightgray;
}

.droppable {
  border: 1px dotted gray;
  margin: -1px;
  background-color: azure;
}
