.App {
  padding: 1rem 10%;
  @media (max-width: 850px) {
    padding: 1rem;
  }
}

.selectable {
  cursor: pointer;
}

.users-ui {
  display: grid;
  grid-template-columns: 50% 50%;

  .column {
    padding: 1rem;
  }
}

.favorite-users {
  & > h2 {
    user-select: none;
    text-align: center;
  }
}

.favorite-user {
  width: 100%;

  button {
    cursor: pointer;
    pointer-events: all;

    margin-left: auto;
    width: 5rem;
    border-radius: 0.5rem;

    font-size: 1.5rem;
    color: gray;
    border-color: silver;
    background-color: whitesmoke;
  }
}

.sorted-users {
  & > input {
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
    outline: none;

    font-size: 1.2rem;
    text-align: center;

    &::placeholder {
      color: silver;
    }
  }
}

.users-group {
  .group-header {
    user-select: none;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 0.5rem;

    padding: 0.2rem 1rem;
    margin-bottom: 0;

    &.disabled {
      background-color: lightgray;
    }

    &.collapsed {
      &::after {
        content: ' (...)';
      }
    }
  }
}

.list-outer {
  padding: 5px;
  padding-top: 0;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: whitesmoke;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
}

.user-card {
  display: flex;
  border-radius: 0.5rem;
  margin: 1rem 0;
  pointer-events: none;

  transition: all 0.2s ease;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  .photo {
    border-radius: 0.5rem;
    pointer-events: none;
  }

  .credentials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0.5rem;

    .name {
      b {
        color: tomato;
      }
    }

    .registration-date {
      &::before {
        content: ', ';
      }
    }

    .credentials-top {
      display: flex;
      flex-direction: row;
    }
  }
}

.selected {
  div {
    -webkit-transform: translateX(10%);
    -ms-transform: translateX(10%);
    transform: translateX(10%);
  }
}

.droppable {
  border: 1px dotted gray;
  margin: -1px;
  background-color: whitesmoke;
}

.hideme {
  display: none;
}

.loader {
  margin: 5em auto;
  font-size: 0.5em;
  position: relative;
  border-top: 1em solid rgba(lightgray, 0.2);
  border-right: 1em solid rgba(lightgray, 0.2);
  border-bottom: 1em solid rgba(lightgray, 0.2);
  border-left: 1em solid gray;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1s infinite linear;
  animation: load 1s infinite linear;

  &,
  &:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
